absl-py==0.7.1
appdirs==1.4.3
asn1crypto==0.24.0
astor==0.7.1
atomicwrites==1.3.0
attrs==19.1.0
Automat==0.7.0
backcall==0.1.0
backports-abc==0.5
backports.shutil-get-terminal-size==1.0.0
backports.shutil-which==3.5.2
bcrypt==3.1.6
beautifulsoup4==4.7.1
bleach==3.1.0
bokeh==1.1.0
certifi==2019.6.16
cffi==1.12.3
chardet==3.0.4
Click==7.0
cloudpickle==0.8.1
colorama==0.4.1
constantly==15.1.0
cryptography==2.6.1
cssselect==1.0.3
cycler==0.10.0
cytoolz==0.9.0.1
dask==1.1.2
decorator==4.4.0
defusedxml==0.6.0
distributed==1.27.0
entrypoints==0.3
gast==0.2.2
glob2==0.6
grpcio==1.16.1
h5py==2.9.0
heapdict==1.0.0
hyperlink==19.0.0
idna==2.8
imageio==2.5.0
incremental==17.5.0
ipykernel==5.1.0
ipython==7.4.0
ipython-genutils==0.2.0
ipywidgets==7.4.2
jedi==0.13.3
Jinja2==2.10.1
jsonschema==3.0.1
jupyter==1.0.0
jupyter-client==5.2.4
jupyter-console==6.0.0
jupyter-core==4.4.0
Keras==2.2.4
Keras-Applications==1.0.7
Keras-Preprocessing==1.0.9
kiwisolver==1.0.1
linecache2==1.0.0
locket==0.2.0
lxml==4.3.3
Markdown==3.1
MarkupSafe==1.1.1
matplotlib==3.0.3
mido==1.2.9
MiniSom==2.1.5
mistune==0.8.4
mkl-fft==1.0.10
mkl-random==1.0.2
mock==2.0.0
more-itertools==7.0.0
msgpack==0.6.1
nbconvert==5.4.1
nbformat==4.4.0
networkx==2.3
notebook==5.7.8
numpy==1.16.2
olefile==0.46
packaging==19.0
pandas==0.24.2
pandocfilters==1.4.2
parsel==1.5.1
parso==0.4.0
partd==0.3.10
pathlib2==2.3.3
patsy==0.5.1
pbr==5.1.3
pickleshare==0.7.5
Pillow==6.0.0
pluggy==0.9.0
prometheus-client==0.6.0
prompt-toolkit==2.0.9
protobuf==3.6.1
psutil==5.6.1
ptvsd==4.3.2
py==1.8.0
py-midi==2.0.1
pyasn1==0.4.5
pyasn1-modules==0.2.4
pycparser==2.19
PyDispatcher==2.0.5
pydot==1.4.1
Pygments==2.3.1
PyHamcrest==1.9.0
pyOpenSSL==19.0.0
pyparsing==2.4.0
pyreadline==2.1
pyrsistent==0.14.11
pyserial==3.4
PySocks==1.6.8
pytest==4.4.1
pytest-runner==4.4
python-dateutil==2.8.0
python-rtmidi==1.3.0
pytz==2019.1
PyWavelets==1.0.3
pywin32==223
pywinpty==0.5.5
PyYAML==5.1
pyzmq==18.0.0
qtconsole==4.4.3
queuelib==1.5.0
requests==2.21.0
scandir==1.5
scikit-image==0.15.0
scikit-learn==0.20.3
scipy==1.2.1
Scrapy==1.6.0
seaborn==0.9.0
Send2Trash==1.5.0
service-identity==18.1.0
simplegeneric==0.8.1
singledispatch==3.4.0.3
six==1.12.0
sortedcontainers==2.1.0
soupsieve==1.8
statsmodels==0.9.0
tblib==1.3.2
tensorboard==1.13.1
tensorflow==1.13.1
tensorflow-estimator==1.13.0
termcolor==1.1.0
terminado==0.8.2
testpath==0.4.2
toolz==0.9.0
tornado==6.0.2
tqdm==4.31.1
traceback2==1.4.0
traitlets==4.3.2
Twisted==19.2.0
unittest2==1.1.0
urllib3==1.24.2
w3lib==1.20.0
wcwidth==0.1.7
webencodings==0.5.1
Werkzeug==0.15.2
widgetsnbextension==3.4.2
win-inet-pton==1.1.0
win-unicode-console==0.5
wincertstore==0.2
xgboost==0.90
zict==0.1.4
zope.interface==4.6.0
