{% extends 'steplab/base.html' %}
{% load static from staticfiles %}
{% block addionalDependencies %}
<link rel="stylesheet" href="{% static 'css/spinner.css' %}">
{% endblock addionalDependencies %}

{% block content%}
<h1>Step Predictions - History</h1>
{% if predictions %}
    <div class="overflow-auto table-container">
        <table class="table table-hover table-striped text-center" id="predictions-table">
            <thead>
                <tr>
                    <th>#
                        
                        Prediction ID</th>
                    <th>Creation Date</th>
                    <th>User</th>
                    <th>Files</th>
                    <th>Risk of Falling</th>
                </tr>
            </thead>
            <tbody>
                {% for prediction in predictions %}
                <tr id="prediction{{prediction.id}}">
                    <th>{{prediction.id}}</th>
                    <th>{{prediction.creationDate}}</th>
                    <th>{{prediction.user.username}}</th>
                    <th>{{prediction.files}}</th>
                    <th>{{prediction.riskFalling}}</th>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% else %}
    <h1>There are not predictons to show</h1>
{% endif %}


{% endblock content %}

{% block scripts %}
<script src="{% static 'js/wait-tool.js' %}"></script>
<script>
$(document).ready(function() {
    $("#predictions-table tbody tr").click(function() {
        let predictionId = $(this).attr('id');
    
        if (predictionId) {
            predictionId = predictionId.replace("prediction","");
            let url = "result";
            window.location.href = "/diagnosis/result?stepPrediction=" + predictionId;
        }
    });
});
</script>
{% endblock scripts %}