{% extends 'steplab/base.html' %}
{% load static from staticfiles %}
{% block addionalDependencies %}
<link rel="stylesheet" href="{% static 'css/spinner.css' %}">
{% endblock addionalDependencies %}

{% block content %}
<div class="container-fluid">
    <!-- Table  -->
    <div id="analyse-file-form">
        <form method="POST">
            {% csrf_token %}
            <div class="row mb-2">
                <button class="btn btn-primary btn-lg ml-auto" type="submit" name="analyse">Analyse</button>
            </div>
        </form>
        <div class="row overflow-auto table-container">
            <table id="recordings-table" class="table table-bordered">
                <thead>
                    <tr class="text-center">
                        <th>
                            <!-- Default unchecked -->
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="tableDefaultCheck0">
                                <label class="custom-control-label" for="tableDefaultCheck0"></label>
                            </div>
                        </th>
                        <th>
                            <h4>Filename</h4>
                        </th>
                        <th>
                            <h4>Author</h4>
                        </th>
                        <th>
                            <h4>Footsize</h4>
                        </th>
                        <th>
                            <h4>ProductId</h4>
                        </th>
                        <th>
                            <h4>Steps</h4>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {% for stepFile in stepFiles %}
                    <tr class="text-center">
                        <td>
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input"
                                    id="tableDefaultCheck{{ forloop.counter }}">
                                <label class="custom-control-label"
                                    for="tableDefaultCheck{{ forloop.counter }}"></label>

                                </div>
                                <button type="button" class="btn btn-dark see">See</button>

                        </td>
                        <td class="file-name" value="{{ stepFile.title }}">{{ stepFile.title }} </td>
                        <td>{{ stepFile.author }} </td>
                        <td>{{ stepFile.footsize }} </td>
                        <td>{{ stepFile.productId }} </td>
                        <td>{{ stepFile.steps }} </td>
                    </tr>
                    {% endfor %}
                </tbody>
                {% if not stepFiles %}
                <tfoot>
                    <tr>
                        <td colspan="6">There are not any step file!</td>
                    </tr>
                </tfoot>
                {% endif %}
            </table>
        </div>
    </div>
</div>


{% endblock content %}

{% block scripts %}
<script src="{% static 'js/wait-tool.js' %}"></script>

<script>
    function getCookie(c_name)
    {
        if (document.cookie.length > 0)
        {
            c_start = document.cookie.indexOf(c_name + "=");
            if (c_start != -1)
            {
                c_start = c_start + c_name.length + 1;
                c_end = document.cookie.indexOf(";", c_start);
                if (c_end == -1) c_end = document.cookie.length;
                return unescape(document.cookie.substring(c_start,c_end));
            }
        }
        return "";
    }

    function submitForm() {

        $('button[name="analyse"]').val(JSON.stringify(files));
        
        $('#recordings-table td').click(function () {
            let fileName = this.innerText;
            $.get("", { filename: fileName }, function (data) {
                $("#main-content").html(data);
                window.scrollTo(0, 0);
            });
        });
    }

    
    $(document).ready(function () {
        
        $('#tableDefaultCheck0').click(function () {
            let allChecked = $('#tableDefaultCheck0').prop('checked');

            $('#recordings-table td input[type="checkbox"]').each(function() {
                $( this ).prop('checked', allChecked);
            });
        });

        $('#recordings-table tr td .see').click(function() {
            tdParent = $( this ).parent().parent();
            fileNameItem = $( tdParent ).find('.file-name');
            if (fileNameItem != null) {
                fileName = fileNameItem.text();
                if (fileName) {
                    let contentSelector = "#main-content";
                    content = showWaitTool(contentSelector);
                    $.get("", { filename: fileName }, function (data) {
                        content = data; /* new page */
                    }).always(function() {
                        /* it loads the new page or restores the old one. */
                        hideWaitTool(contentSelector, content);
                    });
                }
            }
        });

        $('button[name="analyse"]').click(function () {

            let files = []; // $('#analyse').val

            $('#recordings-table tr').each(function() {
                let checkBox = $( this ).find('td input[type="checkbox"]');
                selected = checkBox.prop('checked');
                if (selected) {
                    fileNameItem = $( this ).find('.file-name');
                    if (fileNameItem != null) {
                        fileName = fileNameItem.text();
                        if (fileName) {
                            files.push(fileName);
                        }
                    }
                }
            });

            if (files && files.length > 0) {
                fileNames = JSON.stringify(files);
                if (fileNames) {
                    $(this).val(fileNames);
                }
            }
        });
    });
</script>
{% endblock scripts %}