{% if fileContent %}
<h1 class="col-md-11 badge-secondary">{{fileName}}</h1>
<button type="button" class="btn btn-link" onclick="location.reload();">Back</button>
<div class="overflow-auto table-container">
    <table class="table table-hover table-striped text-center" id="recording-detail-table">
        <thead>
            <tr>
                {% for field in fileContent.fields %}
                <th class="table-success">
                    {{ field }}
                </th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for sampleRow in fileContent.samples %}
            <tr class="">
                {% for sampleColumn in sampleRow %}
                <td>{{ sampleColumn }} </td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
        {% if fileContent.samples.count == 0 %}
        <tfoot>
            <tr>
                <td colspan="5">The recording is empty</td>
            </tr>
        </tfoot>
        {% endif %}
    </table>
</div>

{% endif %}