{% extends 'steplab/base.html' %}
{% load static from staticfiles %}
{% block addionalDependencies %}
<link rel="stylesheet" href="{% static 'css/spinner.css' %}">
{% endblock addionalDependencies %}
{% block content %}
<div class="row">
    <div class="col-md-10 offset-1 lm-auto">
        <a data-toggle="collapse" data-target="#uploader" class="btn btn-primary btn-lg float-right" href="#"
            role="button">Add a new Step File</a>
    </div>
</div>

<div class="row mt-3 collapse" id="uploader">
    <div class="col-md-10 offset-1">
        <form method="post" enctype="multipart/form-data" onsubmit="submitForm()">
            {% csrf_token %}
            <div class="form-group files">
                <label>Upload Your File </label>
                <input type="file" class="form-control" name="new-stepfiles" multiple>
            </div>
            <button type="submit">Submit</button>
        </form>
    </div>
</div>
<div class="row mt-3">
    <div class="col-md-10 offset-1 overflow-auto">
        <table class="table table-hover text-center" id="recordings-table">
            <thead>
                <tr>
                    <th class="table-success">
                        <h4>Filename</h4>
                    </th>
                    <th class="table-success">
                        <h4>Author</h4>
                    </th>
                    <th class="table-success">
                        <h4>Footsize</h4>
                    </th>
                    <th class="table-success">
                        <h4>ProductId</h4>
                    </th>
                    <th class="table-success">
                        <h4>Steps</h4>
                    </th>
                </tr>
            </thead>
            <tbody>
                {% for stepFile in stepFiles %}
                <tr class="">
                    <td>{{ stepFile.title }} </td>
                    <td>{{ stepFile.author }} </td>
                    <td>{{ stepFile.footsize }} </td>
                    <td>{{ stepFile.productId }} </td>
                    <td>{{ stepFile.steps }} </td>
                </tr>
                {% endfor %}
            </tbody>
            {% if not stepFiles %}
            <tfoot>
                <tr>
                    <td colspan="5" class="text-center">There are not any step file!</td>
                </tr>
            </tfoot>
            {% endif %}
        </table>

    </div>
</div>
{% endblock content %}


{% block scripts %}
<script src="{% static 'js/wait-tool.js' %}"></script>

<script>
    function submitForm() {
        // Get the first form with the name
        var frm = document.getElementsByName('form-name')[0];
        frm.submit(); // Submit
        frm.reset();  // Reset
        return false; // Prevent page refresh
    }

    $(document).ready(function () {
        $('#recordings-table tbody td').click(function () {
            const contentSelector = "#main-content";
            let fileName = this.innerText;
            if (fileName) {
                let content = showWaitTool(contentSelector);
                $.get("", { filename: fileName }, function (data) {
                    content = data; /* new page */
                }).always(function() {
                    /* it loads the new page or restores the old one. */
                    hideWaitTool(contentSelector, content);
                });
            }
        });
    });
</script>
{% endblock scripts %}